{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% if repos %}
    <table>
        <tr>
            <td>Name</td>
            <td>Created at</td>
            <td>Url</td>
        </tr>


        {% for repo in repos %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.created_at|date("H:i - d. m. Y") }}</td>
                <td><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></td>
            </tr>
        {% endfor %}

    </table>
{% endif %}

{% if message != '' %}
    {{ message }}
{% endif %}