{% if searchData %}
    <table>
        <tr>
            <td>Search text</td>
            <td>Created at</td>
            <td>Ip</td>
        </tr>


        {% for data in searchData %}
            <tr>
                <td>{{ data.text }}</td>
                <td>{{ data.date|date("H:i - d. m. Y") }}</td>
                <td>{{ data.ip.ip }}</td>
            </tr>
        {% endfor %}

    </table>
{% else %}
    Data not exists
{% endif %}
